<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.owlab.callblocker">

    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Quiet Ringer -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Dismiss Call -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Delete Call Log -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />

    <!-- Read SMS log -->
    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- This is not needed to get call log, but many references are mentioning need of this. Why? -->
    <!-- Read Contacts -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".AddSourceSelectionActivity"
            android:theme="@style/AppTheme.NoActionBar.Translucent.Fade"
            >
            <intent-filter>
                <action android:name="android.intent.action.ADD" />
            </intent-filter>
        </activity>

        <provider
            android:name=".contentprovider.CallBlockerProvider"
            android:authorities="com.owlab.callblocker.contentprovider" />

        <receiver android:name=".receiver.BootCompletedIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!--
        <receiver android:name=".receiver.PhoneStateChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.owlab.callblocker.WARM_UP"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.owlab.callblocker.UPDATE_MATCH_PATTERN"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".service.CallBlockerIntentService"
            android:exported="false" />
        -->
        <service
            android:name=".service.CallQuieterIntentService"
            android:exported="false" />
        <service
            android:name=".service.CallQuieterService"
            android:exported="false" />
        <service
            android:name=".service.CallLogObserverStartService"
            android:exported="false" />
    </application>

</manifest>
<!-- // reserve
            android:theme="@style/Theme.AppCompat.NoActionBar.Translucent">
            android:theme="@style/Theme.AppCompat.Translucent.NoActionBar">
-->