<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.owlab.callblocker">

    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Quiet Ringer -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Dismiss Call -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Delete Call Log -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_call_blocker_48"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".content.CallBlockerContentProvider"
            android:authorities="com.owlab.callblocker.contentprovider" />

        <receiver android:name=".receiver.BootCompletedIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.PhoneCallFilter">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".service.CallBlockerIntentService"
            android:exported="false" />
        <service
            android:name=".service.CallLogCleansingService"
            android:exported="false" />
    </application>

</manifest>